:root {
  --background-color: #162A2C;
  --container-background-color: #F4EFE6;
  --pill-background-color: #5E6C5B;
  --pill-background-color-on-hover: #CBB89D;

  --container-header-text-color: #5E6C5B;
  --subheader-text-color: #686867;
  --header-color-on-green-backgrounnd: #000;
  --subheader-color-on-green-background: #F4EFE6;
}

html,
body {
  font-family: forum;
  scroll-behavior: smooth !important;
  margin: 0;
  background-color: var(--container-background-color);
}

body > h2 {
  font-family: mermaid;
}

.app-container {
  background-color: var(--container-background-color);
}

@font-face {
  font-family: 'forum';
  src: url('/fonts/Forum-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mermaid';
  src: url('/fonts/Mermaid1001.ttf');
  font-weight: normal;
  font-style: normal;
}
